#os_logo{width:100px; margin-left: 35rem;}
#c_logo{width:100px;}
.card{background-color: #6158e9;} /*.card is now a class. that changes background color to blue
/* #head1{border-collapse: collapse ;} */
label{margin-right: 5rem;}
